@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  div {
    @apply text-wrap;
  }
  nav {
    z-index: 10000;
  }
  header ul li {
    @apply hover:text-bleu4;
    transition: all 0.5s ease-out;
  }
  h2 {
    @apply text-blanc text-[35px] text-center  calligraffitti-regular font-semibold;
  }
  h4 {
    @apply text-blanc text-[25px] font-bold;
  }
  header i {
    @apply hover:text-bleu4;
    transition: all 0.5s ease-out;
  }
  h4 + p {
    @apply text-bleu2 font-bold;
  }
  h5 {
    @apply text-blanc text-[25px];
  }
  h5 + p {
    @apply text-blanc font-bold;
  }
  #ref a {
    @apply hover:text-bleu1 hover:bg-blanc;
    transition: all 0.5s ease-out;
    margin-bottom: 10px;
  }
  #clients img {
    @apply w-[30%] h-[50%] rounded-[50%];
  }
  input {
    @apply outline-none rounded-sm p-2 border border-bleu4;
  }
  textarea {
    @apply outline-none bg-none rounded-sm pb-1;
  }
  #icons {
    @apply text-[25px];
  }
}
@layer components {
  .pskills {
    @apply inline border border-bleu4 mb-[10px] py-[10px] px-[15px] rounded-[10px] text-center;
  }
  .calligraffitti-regular {
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .burger-menu {
    background: white;
    padding: 2px;
  }
  .ri-menu-line {
    @apply text-[30px] text-blanc;
  }
}
